.container {
  padding: 1em;
}

.nav {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #0f384d;
  line-height: 1;
  padding: 1em 0;
  margin-bottom: 0.5em;
}

.logo {
  width: 200px;
}

.link {
  text-decoration: none;
  color: #0f384d;

  &:hover {
    text-decoration: underline;
  }
}

.response {
  margin: auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10em 1fr;
  justify-content: start;
  max-width: 60rem;
  grid-gap: 0.5em;
  align-items: top;
  margin-bottom: 1em;
}

.name {
  color: #0f384d;
  padding-top: 1em;
  text-decoration: none;
}

.message {
  display: inline-block;
  background-color: #0096bd;
  color: #fff;
  line-height: 1.5;
  padding: 1em;
  border-radius: 0.5em;
}
